/* External CSS for My Favorite Vacations */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: rgb(248, 244, 244);
    padding: 20px;
}

header {
    background: #b81414;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}

section {
    margin: 20px 0;
}

h2 {
    color: #b81414;
}

figure {
    margin: 20px 0;
}

figcaption {
    font-style: italic;
    text-align: left;
}

details {
    background-color: #eee;
    padding: 10px;
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #007bff;
    color: #fff;
}

hr {
    margin-top: 30px;
}

aside {
    background-color: #eee;
    padding: 10px;
    margin-top: 30px;
}
.center {
    width: 70vw; /* 100% of viewport width */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
}
.headshot {
    width: 30vw; /* 100% of viewport width */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
}
.banner {
    width: 100%; /* 100% of viewport width */
    display: block; /* Ensure the image is displayed as a block element */
    margin: auto; /* Center the image horizontally */
}
/* Link Styles */
a:hover {
    color: #333;
}
